.cardContainer {
  /* margin-top: 70px; */
  /* margin-bottom: 70px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  /* border: 2px solid red; */
}
.rightCompanyContainer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-right: 30px;
  /* padding-left: 40px;
    padding-right: 40px; */
  width: 37%;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.btn1 {
  padding: 8px;
  width: 50%;
  height: 80px;
  border-radius: 20px 0 0 0;
  color: #1a5cb0;
  border: none;
  background-color: #f1f1f1;
  font-size: large;
  cursor: pointer;
}
.btn2 {
  padding: 8px;
  width: 50%;
  height: 80px;
  background-color: white;
  border-radius: 0 20px 0 0;
  border: none;
  font-size: large;
  cursor: pointer;
}
.formOptions {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
}
.formOptions > button {
  color: #1a5cb0;
  background-color: transparent;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.searchBarDiv2 {
  width: 88%;
  height: 50px;
  margin-bottom: 35px;
  margin-left: 25px;
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 21px rgba(244, 244, 244, 0.19);
}
.searchBarDiv2 > input {
  width: 80%;
  height: 50px;
  font-size: 25px;
  font-family: inherit;
  background-color: transparent;
  border: none;
}
.searchBarDiv2 > input:focus {
  border: none;
}
.allBtns {
  padding-left: 25px;
  padding-right: 25px;
}
.btn {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.blueBtn {
  color: white;
  border: none;
  background-color: #3265a8;
  /* background: #3265A8; */
  border: 1px solid #3265a8;
}
.whiteBtn {
  color: #171717;
  border: 3px solid #d3d3d3;
}
.bgRockImg {
  background-repeat: no-repeat;
  /* position: right; */
  /* size: contain; */
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: right;
}
