/* width: clamp(300px,75%,500px); */
/* 300 is min 75% is width and  width 500 is max  */

/* .App{
    height: 100vh;
    width: 100vw;
}  */
/* .g {
    color: #ededf3e9
} */



/* MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedStart css-88m405-MuiInputBase-root-MuiOutlinedInput-root */
/* .MuiInputBase-root {
     border: 2px solid red; 
    border: none !;
    border-radius: 50px; 
} */