.inputContainer {
	height: 51px;
	width: 322px;
	display: flex;
	justify-Content: space-around;
	align-Items: center;
	align-Content: center;
	margin: 10px;
	border: 1px solid rgb(212, 191, 191);
	border-Radius: 12px;
	padding: 3px;
}
.inputContainer:focus {
	border: 3px solid red;

}
.input {
	height: 49px;
	width: 288px;
	color: black;
	/* backgroundColor: " rgba(0, 0, 0, 0.633)", */
		 border: none;
		/* textAlign: " center", */
	border-Radius: 12px;
	font-Size: 30px;
	backdrop-Filter: blur(10px);
	font-Family: inherit;
}

.input:active {
	border: 3px solid rgb(20, 239, 20);
	border: none;
}
.input:focus {
	border: 3px solid rgb(239, 217, 20);
	border: none;

}

::placeholder {
    /* color: rgb(255, 255, 255); */
    /* text-align: center; */
}