.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.card {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box; /* what is does */
  /* position: absolute; */
  width: 777px;
  height: 447px;
  /* left: 0px; */
  /* top: 0px; */
  border: 2px solid #ffffff;
  background: rgba(232, 232, 232, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 40px;
}
.aiSkull {
  height: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background: linear-gradient(180deg, rgba(139, 136, 174, 0.25) 0%, rgba(112, 222, 233, 0.25) 100%); */
  /* background-color: green; */
}
.logo1 {
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}
.logo2 {
  height: 92px;
  width: 92px;
}
