.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.card {
  width: 60%;
  height: 350px;
  box-shadow: 2px 5px 30px 1px #1b1b1b;
  padding: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box; /* what is does */
  height: 447px;
  border: 2px solid #ffffff;
  background: rgba(232, 232, 232, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  /* border: 2px solid red; */
}
.aiSkull {
  height: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background: linear-gradient(180deg, rgba(139, 136, 174, 0.25) 0%, rgba(112, 222, 233, 0.25) 100%); */
  /* background-color: green; */
}
.logo1 {
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}
.logo2 {
  height: 92px;
  width: 92px;
}
@media (max-device-width: 650px) {
  .card {
    width: 90%;
    height: 75%;
    padding: 10px;
  }
  .aiSkull {
    height: 200px;
  }
  form > input {
    width: 200px;
  }
  form > button {
    width: 200px;
  }
}

@media (prefers-color-scheme: dark) {
  main {
    background: rgba(0, 0, 0, 0.3);
  }
  form > input {
    background: #1b1b1b;
    color: #fff;
    border: 1px solid #fcfcfc;
  }
  form > button {
    background: #1b1b1b;
    color: #fff;
    border: 1px solid #f3f3f3;
  }
}
