.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.logo1 {
  position: absolute;
  left: 5%;
  right: 4.26%;
  top: 4.69%;
  bottom: 5%;
}

.circle {
  color: #1a5cb0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
}
.diamond {
  color: red;
  position: absolute;
  /* bottom: 50%; */
  top: 10%;
  right: 2%;
}
.leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  position: relative;
}
.rightBlueBar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 25vw;
  color: #ffffff;
  background-color: #1a5cb0;
}
.progressUL {
  /* list-style: none; */
  padding: 15px;
  margin: 15px;
}
.progressUL > li {
  opacity: 0.7;
  margin: 15px;
}
.activeLI {
  opacity: 1;
}
.progressCount {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  color: #1a5cb0;
  background-color: #ffffff;
  border-radius: 100px;
  opacity: 1;
}

.card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 61%;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  /* box-sizing: border-box; */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 27.1267px;
}
.arrow {
  height: 20%;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-device-width: 650px) {
  .container {
    margin-top: 85px;
    /* display: ; */
    height: auto;
    flex-direction: row;
  }
  .rightBlueBar {
    display: none;
  }
  .arrow {
    display: none;
  }
  .circle {
    height: 180px;
  }
  .diamond {
    height: 150px;
    left: 180px;
    top: 15px;
  }
  .card {
    margin-left: 75px;
    width: 100%;
    height: auto;
    justify-content: center;
    /* flex-direction: column; */
  }
}
